<ion-app>
  <ion-menu contentId="main">

    <ion-header>

      <ion-toolbar color="dark">
        <ion-title>Menu</ion-title>
      </ion-toolbar>

    </ion-header>

    <ion-content>
      <ion-list>

        <!--<ion-item lines="none" (click)="navigateAndClose('/perfil')">
          <ion-icon slot="start" name="person-outline"></ion-icon> Mi Perfil
        </ion-item>-->

        <ion-item lines="none" (click)="volver()">
          <ion-icon slot="start" name="arrow-back-outline"></ion-icon> Volver
        </ion-item>
    
        <ion-item lines="none" (click)="navigateAndClose('/home')">
          <ion-icon slot="start" name="home-outline"></ion-icon> Inicio
        </ion-item>
    
        <ion-item lines="none" (click)="salir()" routerDirection="root">
          <ion-icon slot="start" name="exit-outline"></ion-icon> Salir
        </ion-item>
      </ion-list>
    </ion-content>

  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>