<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar" color="dark">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <ion-button expand="block" routerLink="/home-profe">Profesor</ion-button>
    <ion-button expand="block" routerLink="/home-alumno">Alumno</ion-button>
    <ion-button expand="block" (click)="recuperaralumno()">Alumnos API</ion-button>
  </div>
</ion-content>